@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,500;1,100&display=swap');

html {
  background-image: url(/public/img/bg.png);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

#app.landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#app > header {
  padding: 1em 0;
  text-align: center;
  min-height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  #app > header h1 {
    width: 55vw;
    max-width: 7.77em;
    margin: 0;
    font-size: 2.75rem;
    font-family: 'Archivo';
    font-style: italic;
    font-weight: 100;
    /* -webkit-text-stroke: 1px #00944f; */
    color: #fff;
    background-color: #242424;
      /* text-shadow: 5px 5px 0px #bbbbbb; */
  }

  #app > header > div {
    max-height: 3.5em;
    height: 3em;
    align-items: center;
    display: flex;
  }

  #app > header #header-left {
    display: flex;
  }

    #app > header #header-left button {
      width: 2em;
      margin-left: 0.5em;
      padding: 0;
      background: none;
      border: 2px solid transparent;
      font-size: 1.5rem;
      cursor: pointer;
      transition: all 0.15s;
      appearance: none;
      color: #a5a4a4;
    }

  #app > header #header-right {
    width: 40%;
    max-width: 12em;
  }

    #header-right > p {
      font-size: 0.75em;
      color: red;
    }

  #app > header #header-left button:hover,
  #app > header #header-left button:focus {
    border-color: #bdbdbd;
    border-radius: 5px;
  }


#load-spinner {
  width: 7em;
  height: 10em;
  margin: 0 auto;
  background-image: url(/public/img/duck.gif);
  background-size: cover;
  position: relative;
}

  #load-spinner::after {
    display: block;
    content: 'wait a sec';
    width: 8em;
    height: 1em;
    margin: 0 auto;
    position: absolute;
    bottom: -1em;
    left: 0;
    right: 0;
    text-align: center;
    color: gray;
  }



@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}