#bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background-color: #8a8a8a85;
  opacity: 0;
  z-index: 5;
}

#bg-overlay.show {
  display: block;
  animation: 1s fade-in;
  animation-fill-mode: forwards;
}

#bg-overlay.closing {
  display: block;
  animation: 1s fade-out;
  animation-fill-mode: forwards;
  opacity: 1;
}