#info-drawer {
  width: 75%;
  max-width: 22rem;
  height: 35em;
  max-height: 70vh;
  margin: 0 auto 2em;
  padding: 1.25em;
  display: none;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(85vh);
  z-index: 10;
  background: #fff;
  border: 1px solid #ababab;
  border-radius: 8px;
  border-bottom-width: 5px;
}

#info-drawer[open] {
  display: flex;
}

#info-drawer.open {
  animation: 0.35s slide-up;
  animation-fill-mode: forwards;
}

#info-drawer.closing {
  animation: 0.35s slide-down;
}

#info-drawer > header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0.5em 0;
}

#info-drawer > header .token-icon {
  margin: -3.5em 0 0.5em;
  box-shadow: 0px 4px 11px -7px black;
}

  .token-icon {
    border: 1px solid gray;
    border-radius: 50%;
    background-color: #fff;
  }

  .token-icon.small {
    border: none;
  }

#info-drawer h2 {
  margin: 0.25em 0;
  font-size: 1.25rem;
}

#info-drawer .btn-close {
  position: absolute;
  right: -0.75em;
  top: -0.5em;
  appearance: none;
  font-size: 0.75em;
  padding: .75em 1em;
  /* border-radius: 20%; */
  cursor: pointer;
  transition: .15s all;
  outline: none;
}

#info-drawer .btn-close:hover, 
#info-drawer .btn-close:focus {
  border-color: red;
  color: red;
  background: #fff;
}

#token-data {
  max-height: 70%;
  border: 1px solid #c2c2c2;
  flex-grow: 1;
  border-radius: 7px;
  padding: .75em;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 0.75rem;
}

  #token-data h3 {
    margin: .5em 0;
    padding: 0 0 0.5em;
    font-style: italic;
    color: gray;
    border-bottom: 1px solid #cccccc;
  }

  #token-data ul {
    padding: 0;
  }

  #token-data ul > li {
    padding: 0.25em;
    margin-bottom: 0.5em;
    list-style-type: none;
    word-break: break-all;
  }

    #token-data ul > li h4,
    #token-data ul > li p {
      margin: 0 0 0.25em;
    }

.token-txn {
  display: flex;
  flex-direction: column;
}

  .token-txn:nth-child(even) {
    /* background-color: red; */
  }

  .token-txn > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .token-txn > header svg {
    margin-right: 3px;
    vertical-align: super;
  }

  .token-txn h4 {
    /* font-weight: normal; */
  }

  .token-txn a {
    margin-bottom: 0.5em;
    color: inherit;
    font-style: italic;
  }

  .token-txn-bnb {
    text-align: right;
  }

  .token-txn-bnb strong {
    background-color: green;
    color: #fff;
    padding: 0.25em 0.35em;
    border-radius: 6px;
  }

  .token-txn .logo {
    width: 14px;
    /* object-fit: contain; */
    padding: 5px;
    border-radius: 50%;
  }

  .token-txn img.pancake {
    background-color: #09caaf;
  }

  .token-txn-buy {
    color: green;
  }

#drawer-ctrls {
  width: 100%;
  padding: 0.75em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#drawer-ctrls p {
  margin: 0;
  float: right;
  font-weight: bold;
  font-size: 1.25rem;
  color: #fff;
  font-family: 'Archivo';
  font-weight: 500;
  letter-spacing: 1px;
}

#drawer-balance {
  background-color: #0e96f7;
  padding: 3px 5px;
  border-radius: 5px;
  position: relative;
}

  #drawer-balance::after {
    content: ' ';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: -1.75em;
    background-image: url(/public/img/coin.gif);
    background-size: 300%;
    background-position: center;
    animation: rotate-clockwise 1s infinite;
    animation-timing-function: linear;
    image-rendering: crisp-edges;
  }


@keyframes rotate-clockwise {
  from { transform: rotate(0); }
  to { transform: rotate(-360deg); }
}


@keyframes slide-up {
  from { transform: translateY(85vh) }
  to { transform: translateY(0) }
}

@keyframes slide-down {
  from { transform: translateY(0) }
  to { transform: translateY(85vh) }
}