#info-drawer {
  width: 75%;
  max-width: 22rem;
  min-height: 25em;
  margin: 0 auto 2em;
  padding: 1.25em;
  display: none;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(70vh);
  z-index: 10;
  background: #fff;
  border: 3px solid #504e4e;
  border-radius: 8px;
}

#info-drawer[open] {
  display: flex;
}

#info-drawer.open {
  animation: 0.35s slide-up;
  animation-fill-mode: forwards;
}

#info-drawer.closing {
  animation: 0.35s slide-down;
}

#info-drawer header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0.5em 0;
}

#info-drawer header > img {
  margin: -3.5em 0 0.5em;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 4px 11px -7px black;
}

#info-drawer h2 {
  margin: 0.25em 0;
  font-size: 1.25rem;
}

#info-drawer #btn-copy {
  color: gray;
  font-size: 0.75rem;
  appearance: none;
  border: 0;
  background: none;
  position: relative;
  font-size: 0.7rem;
}

  #info-drawer #btn-copy:hover,
  #info-drawer #btn-copy:focus {
    text-decoration: underline;
    cursor: pointer;
  }

  /*#info-drawer #btn-copy::after {
    width: 3em;
    margin: 0 auto;
    padding: .25em .5em;
    display: none;
    content: 'copy';
    position: absolute;
    left: 0;
    right: 0;
    top: 1em;
    background-color: gray;
    color: gray;
    border-radius: 20%;
  }

  #info-drawer #btn-copy:hover::after {
    display: block;
  }*/


#info-drawer .close {
  position: absolute;
  right: 1.5em;
  top: 1.5em;
  appearance: none;
  background: rgba(175, 175, 175, 0.25);
  border: 1px solid gray;
  font-size: 0.75em;
  padding: .75em 1em;
  border-radius: 20%;
  cursor: pointer;
  transition: .15s all;
  outline: none;
}

#info-drawer .close:hover, 
#info-drawer .close:focus {
  border-color: red;
  color: red;
  background: #fff;
}

#info-drawer > div {
  border: 1px solid #c2c2c2;
  min-height: 100%;
  flex-grow: 1;
  border-radius: 7px;
  padding: .75em;
  box-shadow: inset 0px 4px 12px -11px black;
}

#drawer-ctrls {
  width: 100%;
  padding: 0.75em 0;
}


@keyframes slide-up {
  from { transform: translateY(70vh) }
  to { transform: translateY(0) }
}

@keyframes slide-down {
  from { transform: translateY(0) }
  to { transform: translateY(70vh) }
}